/* ******************************************** */
/** SETTINGS: ICONS
/* ******************************************** */

.u-icon{
    display: inline-block;
    vertical-align: middle;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.u-icon--check{
    background-image: url(/assets/icons/icon-check.svg);
}

.u-icon--statistics{
    background-image: url(/assets/icons/icon-statistics.svg);
}

.u-icon--commissions{
    background-image: url(/assets/icons/icon-commissions.svg);
}

.u-icon--promotion{
    background-image: url(/assets/icons/icon-promotion.svg);
}

.u-icon--arrow-right{
    background-image: url(/assets/icons/icon-arrow-right.svg);
}

.u-icon--arrow-down{
    background-image: url(/assets/icons/icon-arrow-down.svg);
}

.u-icon--leng{
    background-image: url(/assets/icons/icon-leng.svg);
}

/* blue */

.u-icon--check-blue{
    background-image: url(/assets/icons/icon-check-blue.svg);
}

.u-icon--mail-blue{
    background-image: url(/assets/icons/icon-mail-blue.svg);
}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) { /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) { /* 767px, 730px */
}

 



/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */


}
@media (min-width: 48rem) and (orientation: portrait) {
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */


}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}
@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}