/* ******************************************** */
/** OBJECTS: SECTION
/* ******************************************** */

/* SECTION */

:root{
    --section-y: var(--separator-y);
}

.o-section{
    padding-top: var(--section-y);
    padding-bottom: var(--section-y);
}
.o-section-t{
    padding-top: var(--section-y);
}
.o-section-b{
    padding-bottom: var(--section-y);
}