/* ******************************************** */
/** SETTINGS: VARIABLES
/* ******************************************** */

:root{
    --font: 'Prompt Betamina', sans-serif;
    --font-alt: 'FT Calhern Wide Betamina', sans-serif;
    
    /* Sizes */
    --separator-x: 1.8rem;
    --separator-x-n: calc(var(--separator-x) * -1);
    --separator-y: 5rem;
    
    --wrapper: 168rem;
    --wrapper-xs: 144rem;
    --tap-size: 4.8rem;
    
    --header: 7.6rem;
    --header-xs: 6.4rem;

    --wrapper-x: var(--separator-x);
    --wrapper-x-n: calc(var(--wrapper-x) * -1);

    --sections-br: 3rem;

    /* Transitions */
    --easeOutCubic: cubic-bezier(0.22, 0.61, 0.36, 1);
    --easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    --generic-delay: 250ms;

    /* Viewport */
    --viewport-margins: calc(100vw - var(--wrapper));
    --viewport-margin: calc(var(--viewport-margins)/2 + var(--wrapper-x));

}



/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem){ /* 767px, 730px */
    
    :root{
        --separator-y: 6rem;
    }

}


 /* Big mobile */

@media (min-width: 24.375rem) { /* 390px */
    :root{
        --separator-x: 2.4rem;
    }
}


/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */



}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */
    
    :root {
        --separator-x: 2rem;
        --separator-y: 8rem;
    }

}
@media (min-width: 48rem) and (orientation: portrait) {


    
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */
    
    :root {
        --separator-x: 3.6rem;
    }
    
}
@media (min-width: 61.25rem) and (hover: hover) { /* 980px */
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */

    :root {
        --separator-x: 4.5rem;
    }
}



/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */

    :root{
        --header: 10rem;
        --separator-x: 6rem;
        --wrapper-x: clamp(var(--separator-x),4.86vw,7.5rem);
        --separator-y: clamp( 8rem, 15vh, 14rem);
        --sections-br: 5rem;
    }

}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */


}


/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}


@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}

@media (min-width: 105rem) { /* 1680px */ 
    /* !wrapper max */

    :root{
        --viewport-margins: calc(100vw - var(--wrapper));
        --viewport-margin: calc(var(--viewport-margins)*.5);
    }

}


@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */



}
@media (min-width: 61.25rem) and (hover: hover) { /* 980px */

}


@media (min-width: 112.5rem) { /* 1800px */

    
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}

@media (min-width: 120rem) { /* 1920px */    
}