/* ******************************************** */
/** UTILITIES: GENERAL
/* ******************************************** */

.u-page-holder{
    overflow: hidden;
}

/* TAP SIZE */

.u-tap-size{
    position: relative;
}


/* SCREEN READER ONLY */

.u-sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

/* SEO */

.u-hidden-for-seo{
    position: absolute;
    left: -999rem;
}

/* BACKGROUND SECTION */

.u-bg{
    background-color: var(--color-neutral-200);
}
