/* ******************************************** */
/** HOME
/* ******************************************** */

/* Generic */
@import url(sitio/components.carousel.css);
@import url(sitio/components.share-fab.css);
@import url(sitio/components.tabs.css);
@import url(sitio/components.form.css);
@import url(sitio/components.dialcode.css);
@import url(sitio/components.popup.css);


/* Page */
@import url(sitio/home.benefits.css);
@import url(sitio/home.steps.css);
@import url(sitio/home.commissions.css);
@import url(sitio/home.scope.css);
@import url(sitio/home.advantages.css);
@import url(sitio/home.tools.css);
@import url(sitio/home.faqs.css);
@import url(sitio/home.registration.css);
@import url(sitio/home.closing.css);