/* ******************************************** */
/** COMPONENTS: NAV
/* ******************************************** */

body.nav-open {
    overflow: hidden;
}

/* ********************** MOBILE & TABLET ********************** */

@media (max-width: 74.9375rem)
/* up to 1199px */
    {

    .c-nav {
        --_list-gap: 0;
        --_px: var(--wrapper-x);
        --_fz: var(--fz-300);
        --_nav-delay: 300ms;
        --_nav-pt: calc(var(--header) + var(--separator-y));
        --_item-py: .7em;

        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        opacity: 0;
        transform: translateX(-1rem);
        pointer-events: none;
        visibility: hidden;
        transition: opacity .4s ease-out, transform .4s ease-out, visibility .4s;
        overflow: hidden;
        overflow-y: auto;
        height: 100svh;
        height: 100vh;
        width: 100%;
        background: linear-gradient(45deg, var(--color-primary-800), var(--color-primary-400));
    }

    .c-nav-overlay {
        position: fixed;
        width: 100%;
        height: 100svh;
        height: 100vh;
        opacity: 0;
        left: 0;
        top: 0;
        pointer-events: none;
        visibility: hidden;
        background-color: hsl(var(--color-primary-900-hsl) / 70%);
        backdrop-filter: blur(1rem);
        transition: opacity .4s ease-out;
    }

    .c-header__toggle-nav:checked ~ .c-header__wrapper .c-nav {
        opacity: 1;
        transform: translateX(0);
        pointer-events: auto;
        visibility: visible;
    }

    .c-header__toggle-nav:checked ~ .c-header__wrapper .c-nav-overlay {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
    }

    .c-nav>* {
        padding-inline: var(--_px);
    }

    .c-nav__list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--_list-gap);
        width: max-content;
        padding-top: var(--_nav-pt);
        width: 100%;
        height: max-content;
        transition: top .2s ease-out;
        overflow: hidden;
        overflow-y: auto;
        overscroll-behavior: contain;
        -webkit-overflow-scrolling: touch;
        margin-left: 0;
    }

    .c-nav__link {
        display: block;
        padding-block: var(--_item-py);
    }

    .c-nav__lang {
        margin-top: calc(var(--separator-y)*.8);
    }

    .c-nav__ctas {
        flex-direction: column;
        margin-top: calc(var(--separator-y)*.8);
    }

    :root .c-nav__cta {
        --_py: 0.85em;
        --_px: 3.1em;
        --btn-fz: var(--fz-200);
        gap: 2em;
        width: max-content;
    }


    body:not(.nav-open) .c-nav__item {
    opacity: 0;
    transform: translateX(-4rem);
    pointer-events: none;
    }

    body.nav-open .c-nav__item {
    opacity: 1;
    transform: translateX(0);
    pointer-events: auto;
    }

    .c-nav__item {
    transition:
        opacity .4s ease-out,
        transform .4s ease-out;
    }
        

}

/* ********************** ONLY TABLET ********************** */

@media (min-width: 48rem) and (max-width: 61.1875rem) /* 768px to 979px */ { 

     .c-nav {
        max-width: 40rem;
    }

}

/* ********************** MEDIA HOVER ********************** */

@media (hover: hover) { 

     .c-nav__link:hover{
        opacity: .6;
     }

}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {
    /* 980px */
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */
}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}