/* ******************************************** */
/** UTILITIES: TYPE
/* ******************************************** */

/*
  ! TEXT
  OVERRIDES:
    * // --text-fz
    * // --text-fw
    * // --text-lh
    * // --text-ls
    * // --text-color
    * // --text-strong-fw
    * // --text-strong-color
    * // --text-link-fw
    * // --text-link-color
    * // --text-hover-color
*/

.u-text{
    --_fz: var(--fz-300);
    --_fw: 400;
    --_lh: 1.5;
    --_ls: -0.03em;
    --_max-w: none;
    
    font-size: var(--text-fz, var(--_fz));
    font-weight: var(--text-fw, var(--_fw));
    line-height: var(--text-lh, var(--_lh));
    letter-spacing: var(--text-ls, var(--_ls));
    color: var(--text-color, var(--color-neutral-800));
    max-width: var(--text-max-w, var(--_max-w));
}

.u-text + .u-text,
.u-text > * + *{
    margin-top: 1em;
}

.u-text h2,
.u-text h3,
.u-text h4,
.u-text h5{
    margin-top: 1.4em;
}

.u-text strong{
    font-weight: var(--text-strong-fw, 600);
    color: var(--text-strong-color, inherit);
}

.u-text a:not([class]){
    font-weight: var(--text-link-fw, inherit);
    color: var(--text-link-color, inherit);
}

.u-text:not(.u-text--has-checks) ul{
    --_marker-size: .8em;
    text-align: left;
    list-style-type: disc;
    padding-left: 1.1em;
}

.u-text:not(.u-text--has-checks) ul li::marker {
    font-size: var(--_marker-size);
    color: currentColor;
}

.u-text--has-checks ul li{
    list-style: none;
    display: flex;
    gap: .8em;
}

.u-text--has-checks ul li:not(:first-child){
    margin-top: .6em;
}

.u-text--has-checks ul li::before{
    content: "";
    width: 1.1em;
    min-width: 1.1em;
    height: 1.1em;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/assets/icons/icon-check-blue.svg);
}

.u-heading + .u-text{
    margin-top: 1.5em;
}


@media (hover: hover) {

    .u-text a:not([class]):hover{
        color: var(--text-hover-color, var(--color-primary-400));
    }

}





/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem){ /* 359px */
}




/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */
    

}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
    

}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}


/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}