/* ******************************************** */
/** COMPONENT: TIMER
/* ******************************************** */

/* TIMER */

.c-timer {
    --_gap-items: 2.75em;
    --_br: 2em;
    --_number-fz: 2.6rem;
    --_item-py: 0.875em;
    --_item-px: 2.4em;

    position: relative;
    margin-inline: auto;
    text-align: center;
    margin-top: calc(var(--section-y) / 2);
    z-index: 2;
}

.c-timer__list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--_gap-items);
    margin-inline: auto;
    width: max-content;
    background-color: hsl(var(--color-neutral-900-hsl) / 25%);
    padding-block: var(--_item-py);
    padding-inline: var(--_item-px);
    border-radius: var(--_br);
}

.c-timer__item {
    display: flex;
    flex-direction: column;
}

.c-timer__number {
    font-family: var(--font-alt);
    font-size: var(--_number-fz);
    font-style: italic;
    letter-spacing: var(-0.06em);
}

.c-timer__label {
    font-size: var(--fz-100);
    font-style: italic;
}



/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {
    /* 980px */

    .c-timer__list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: var(--_gap-items);
        background-color: transparent;
        border-radius: none;

    }

    .c-timer__item {
        display: flex;
        flex-direction: column;
        background-color: hsl(var(--color-neutral-900-hsl) / 25%);
        padding-block: var(--_item-py);
        padding-inline: var(--_item-px);
        border-radius: var(--_br);
        min-width: 23rem;
    }

    .c-timer__number {
        font-size: 6.5rem;
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */

}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
    .c-timer__number {
        font-size: 9rem;
    }
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}