/* ******************************************** */
/** COMPONENT: TAGS
/* ******************************************** */

.c-tabs{
    --_items-gap: 1.4rem;
    --_fz: var(--fz-200);
    --_py: 0.6em;
    --_px: 0.9em;
    --_br: .75em;
    --_bg: var(--color-primary-100);
    --_color: var(--color-primary-900);
    --_active-bg: var(--color-primary-900);
    --_active-color: var(--color-primary-100);
}

.c-tabs__holder{
    overflow: hidden;
    overflow-x: auto;
    padding-bottom: .5rem;
    margin-inline: var(--wrapper-x-n);
    padding-inline: var(--wrapper-x);
}

.c-tabs__list{
    display: flex;
    white-space: nowrap;
    width: max-content;
}

.c-tabs__item:not(:last-child){
    margin-right: var(--_items-gap);
}

.c-tabs__link{
    display: block;
    padding: var(--_py) var(--_px);
    color: var(--_color);
    background: var(--_bg);
    font-size: var(--_fz);
    border-radius: var(--_br);
}

.c-tabs__link.is-active{
    color: var(--_active-color);
    background: var(--_active-bg);
}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) { /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) { /* 767px, 730px */
}

 



/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */

    
    
}
@media (min-width: 48rem) and (orientation: portrait) {
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */

    
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}
@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}