/* ******************************************** */
/** HOME: REGISTRATION
/* ******************************************** */

.c-registration{
    background: linear-gradient(180deg, var(--color-primary-900), var(--color-primary-400));
}

.c-registration__heading {
    display: flex;
    flex-wrap: wrap;
    gap: .3em .4em;
}

.c-registration__form{
    --heading-color: var(--color-primary-900);
    --text-color: hsl(var(--color-primary-900-hsl)/85%);

    background-color: var(--color-neutral-100);
    border-radius: 1.8rem;
    padding: 3.5rem 3rem 4rem;
}

.c-registration-form__heading + .c-form,
.c-registration-form__text + .c-form{
    margin-top: calc(var(--separator-y)*.6);
}

.c-registration-form__text{
    margin-top: 1em;
}



/* ********************** ONLY MOBILE ********************** */

@media (max-width: 47.9375rem) /* up to 767px */ { 

    .c-registration__form{
        margin-top: 4rem;
    }
     

}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) { /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) { /* 767px, 730px */
}

 



/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */
}
@media (min-width: 48rem) and (orientation: portrait) {
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */
}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */
}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}
@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}