/* ******************************************** */
/** HOME: REGISTRATION
/* ******************************************** */

.c-registration{
    background: linear-gradient(180deg, var(--color-primary-900), var(--color-primary-400));
    overflow: hidden;
}

.c-registration__holder{
    position: relative;
    isolation: isolate;
}

.c-registration__holder::before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40%);
    bottom: 0;
    width: 200vw;
    height: 200vw;
    background-image: url(/assets/images/static/form/form-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
}

.c-registration__holder::after {
    content: "";
    position: absolute;
    left: 50%;
    transform: translate(-50%, 40%);
    top: 0;
    width: 150vw;
    height: 150vw;
    background-image: url(/assets/images/static/form/form-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    pointer-events: none;
    z-index: -1;
    opacity: .2;
    mix-blend-mode: screen;
}

.c-registration__heading {
    display: flex;
    flex-wrap: wrap;
    gap: .4em .4em;
}

.c-registration__heading img {
    height: 1.1em;
    width: auto;
    margin-top: -0.05em;
}

.c-registration__form{
    --heading-color: var(--color-primary-900);
    --text-color: hsl(var(--color-primary-900-hsl)/85%);

    background-color: var(--color-neutral-100);
    border-radius: calc(var(--sections-br)*.8);
    padding: 4.2rem 3rem 4rem;
}

.c-registration-form__form{
    position: relative;
    z-index: 1;
}

.c-registration-form__heading + .c-form,
.c-registration-form__text + .c-form{
    margin-top: calc(var(--separator-y)*.6);
}

.c-registration-form__text{
    margin-top: 1em;
}

/* CLOSING */

.c-closing-img {
    max-height: 80vh;
    overflow: hidden;
    padding-bottom: var(--sections-br);
}

/* ********************** ONLY MOBILE ********************** */

@media (max-width: 47.9375rem) /* up to 767px */ { 

    .c-registration__form{
        margin-top: 4rem;
    }
     

}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) { /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) { /* 767px, 730px */
}

 



/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) { /* 500px, 767px */
}




@media (min-width: 48rem) and (max-width: 74.9375rem) /* 768px to 1199px */ { 

    .c-registration__left{
        padding-top: var(--separator-y);
    }
         
}

/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) { /* 768px */

    .c-registration__holder::before {
        content: "";
        position: absolute;
        left: auto;
        right: 0;
        transform: translate(20%, 40%);
        width: 100vw;
        height: 100vw;
    }

    .c-registration__holder::after {
        left: 0%;
        bottom: 0;
        top: auto;
        width: 60vw;
        height: 60vw;
        transform: translate(-10%, 30%);
        opacity: .12;
    }

    :root .c-registration__text{
        --text-max-w: 22em;
        margin-top: 2em;
    }

    .c-registration__wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: var(--separator-x);
    }

    .c-registration-form__heading + .c-form,
    .c-registration-form__text + .c-form {
        margin-top: 3rem;
    }
    
}
@media (min-width: 48rem) and (orientation: portrait) {
}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) { /* 980px */

    .c-registration__holder::after {
        transform: translate(0, 60%);
        width: 50vw;
        height: 50vw;
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) { /* 1200px */

    .c-registration__wrapper {
        align-items: center;
        gap: calc(var(--separator-x)*2);
    }

    .c-registration__left{
        height: max-content;
    }

    .c-registration__form{
        padding: 4.8rem 5rem;
    }
}
@media (min-width: 75rem) and (min-height: 45rem) { /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) { /* 1400px */

    :root .c-registration__text{
        margin-top: 3em;
    }
    
    .c-registration-form__heading + .c-form,
    .c-registration-form__text + .c-form {
        margin-top: 4rem;
    }
}
@media (min-width: 87.5rem) and (min-height: 49.375rem) { /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) { /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) { /* 1600px, 790px */
}
@media (min-width: 100rem) and (min-height: 56.25rem) { /* 1600px, 900px */
}

@media (min-width: 112.5rem) { /* 1800px */
}
@media (min-width: 112.5rem) and (min-height: 56.25rem) { /* 1800px, 900px */
}