/* ******************************************** */
/** HOME: FAQs
/* ******************************************** */

.c-faqs-section {
    position: relative;
    background-color: var(--color-primary-100);
    margin-top: calc(var(--sections-br)*-1);
    border-radius: 0 0 var(--sections-br) var(--sections-br);
}

.c-faqs-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color-primary-900);
    z-index: -1;
    pointer-events: none;
}

.c-faqs-section__wrapper {
    margin-top: var(--sections-br);
}

.c-faqs-section__heading {
    --heading-color: var(--color-primary-400);
}

.c-faqs-section__text {
    --text-color: var(--color-primary-900);
}

.c-faqs-section__faqs {
    margin-top: calc(var(--separator-y) * .6);
}

.c-faqs-hint {
    --heading-fz: var(--fz-500);
    background-color: var(--color-primary-900);
    padding: 3.5rem 3rem 4rem;
    border-radius: var(--fz-300);
}

.c-faqs-hint__text {
    margin-top: 1.2em;
}

.c-faqs-hint__cta {
    margin-top: 2em;
    width: 100%;
}


/* FAQS */

.c-faqs {
    --_px: 1.4em;
    --_py: 1.3em;
    --_arrow-size: 0.6em;
    --_items-gap: 1rem;
    --_transition-delay: .4s;

    color: var(--color-primary-900);
    font-size: var(--fz-300);
}

.c-faqs__item {
    border-radius: 1em;
    background-color: var(--color-neutral-100);
    padding: var(--_py) var(--_px);
}

.c-faqs__item:not(:first-child) {
    margin-top: var(--_items-gap);
}

.c-faqs__question {
    position: relative;
    font-size: 1.05em;
    line-height: 1.3;
    font-weight: 600;
    padding-right: calc(var(--_arrow-size) + 1em);
    transition: color var(--_transition-delay) ease;
    cursor: pointer;
}

.c-faqs__question::before {
    content: "";
    position: absolute;
    right: 0;
    top: .3em;
    width: var(--_arrow-size);
    height: var(--_arrow-size);
    border-bottom: 3px solid;
    border-left: 3px solid;
    transform: rotate(-45deg);
    transition: transform var(--_transition-delay) ease;
}

.c-faqs__item.is-open>.c-faqs__question::before {
    transform: rotate(135deg);
    transition: transform var(--_transition-delay) ease;
}

.c-faqs__item.is-open>.c-faqs__question {
    color: var(--color-primary-400);
    transition: color var(--_transition-delay) ease;
}

.c-faqs__answer {
    font-size: .95em;
    max-height: 0;
    overflow: hidden;
    transition: max-height var(--_transition-delay) ease;
}

.c-faqs__answer>*:first-child {
    margin-top: 1em;
}


/* ********************** MOBILE & TABLET ********************** */

@media (max-width: 61.1875rem)
/* up to 979px */
    {

    .c-faqs-hint {
        margin-top: 4rem;
    }

    .c-faqs {
        --_px: 1.3em;
        --_py: 1.3em;
        font-size: var(--fz-200);
    }

}


/* ********************** MEDIA HOVER ********************** */

@media (hover: hover) {

    .c-faqs__item {
        transition: color 250ms ease-out;
    }

    .c-faqs__item:not(.is-open):hover {
        color: var(--color-hover);
    }

}


/* ********************** SHORT MOBILE ********************** */

@media (max-width: 22.4375rem) {
    /* 359px */
}





/* ********************** TALL MOBILE PORTRAIT ********************** */

@media (max-width: 47.9375rem) and (min-height: 45.625rem) {
    /* 767px, 730px */
}





/* ********************** MOBILE LANDSCAPE ********************** */

@media (orientation: landscape) and (min-width: 31.25rem) and (max-width: 47.9375rem) {
    /* 500px, 767px */
}





/* ********************** de Mobile a TABLET ********************** */

@media (min-width: 48rem) {
    /* 768px */

    .c-faqs__question::before {
        top: .2em;
    }
}

@media (min-width: 48rem) and (orientation: portrait) {}




/* ********************** de Tablet a DESKTOP ********************** */

@media (min-width: 61.25rem) {
    /* 980px */

    .c-faqs-section__wrapper {
        display: grid;
        grid-template-columns: .8fr 1.2fr;
        grid-template-rows: auto 1fr;
        gap: var(--separator-x);
    }

    .c-faqs-section__text {
        max-width: 14em;
    }

    .c-faqs-section__faqs {
        grid-row: span 2;
    }

    /* FAQS */

    .c-faqs {
        --_items-gap: 2rem;
        margin-top: 0;
    }
}




/* ********************** de Desktop a DESKTOP 2 ********************** */

@media (min-width: 75rem) {
    /* 1200px */

    .c-faqs-section__wrapper {
        gap: calc(var(--separator-y) * .5) calc(var(--separator-x) * 2);
    }

    .c-faqs-hint {
        padding: 5rem 4.2rem;
        max-width: 44rem;
        height: max-content;
    }
}

@media (min-width: 75rem) and (min-height: 45rem) {
    /* 1200, 720 */
}




/* ********************** de Desktop 2 a HD ********************** */

@media (min-width: 87.5rem) {
    /* 1400px */

    .c-faqs-section__wrapper {
        grid-template-columns: 0.75fr 1.35fr;
        gap: calc(var(--separator-y) * .5) calc(var(--separator-x) * 3);
    }

    .c-faqs {
        --_py: 1.3em;
    }

}

@media (min-width: 87.5rem) and (min-height: 49.375rem) {
    /* 1400px, 790px */
}




/* ********************** de Hd a FULL HD ********************** */

@media (min-width: 100rem) {
    /* 1600px */
}

@media (min-width: 100rem) and (min-height: 49.375rem) {
    /* 1600px, 790px */
}

@media (min-width: 100rem) and (min-height: 56.25rem) {
    /* 1600px, 900px */
}

@media (min-width: 112.5rem) {
    /* 1800px */
}

@media (min-width: 112.5rem) and (min-height: 56.25rem) {
    /* 1800px, 900px */
}